.bg {
    /* The image used */
    background-image: url(../images/Foodbg.jpg) ;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cuss {
    background-color: wheat;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 5%;
}

.bg2 {
    background-image: url(../images/menuwall.jpg) ;
    height: 100%;
    width: 100%;
    position: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    background-image: url(../images/jj.jpg) ;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.border {
    border-style: solid;
    border-width: 5px;
}

.bghome {
    background-image: url(../images/home.jpg) ;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}